#background {
  background-color: #fff;
}

#h1 {
  color: #5900b3;
}

#p1 {
  color: #b366ff;
}

#image1 {
  width: 15%;
  height: 15%;
}

#body {
  background-color: #e2ffd6;
}

#heading {
  font-family: courier, monospace;
  color: #0f3300;
}

#heading2 {
  font-family: courier, monospace;
  color: #0f3300;
}

#heading3 {
  font-family: courier, monospace;
  color: #0f3300;
}

#list {
  color: #1f6600;
}
