#background {
  background-color: #ffffff;
}

#h1 {
  color: #5900b3;
}

#p1 {
  color: #b366ff;
}

table, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
  color: #b366ff;
  padding: 5px;
  width: 30%;
}

#image1 {
  width: 50%;
  height: 50%;
}